link(rel="stylesheet", href="/public/css/vendor/side-menu.css", type="text/css")
link(rel="stylesheet", href="/public/css/vendor/pure-min.css", type="text/css")
link(rel="stylesheet", href="/public/css/vendor/alert-msgs.css", type="text/css")
link(rel="stylesheet", href="/public/css/vendor/baby-blue.css", type="text/css")