link(rel="stylesheet", href="/public/css/side-menu.css", type="text/css")
link(rel="stylesheet", href="/public/css/pure-min.css", type="text/css")
link(rel="stylesheet", href="/public/css/alert-msgs.css", type="text/css")
link(rel="stylesheet", href="/public/css/baby-blue.css", type="text/css")