//- index.jade
extends ./layout

block title
	title Index page

block header
	h1 SupDraw
	h2 The online pictionary-style game

block content
	h2.content-subhead This is a multiplayer game as you never saw before
	p.
		Easy to play, just guess what is drawn by your friends or strangers in a specified amount of time.
		<br>
		When a player reaches ten points, the game is over.