doctype

html(lang="fr")
	head
		include ../includes/private/dependencies
		title Ladder page
	body
		div#layout
			include ../includes/private/side-menu

			div#main
				div.header
					h1 Hall of fame
					h2 Challenge your friends and beat them

				div.content
					<br>
					table.pure-table
						thead
							tr
								th #
								th Name
						tbody
							each val, index in players
								if index %2 == 1
									tr.pure-table-odd
										td #{index +1}
										td #{val}
								else 
									tr
										td #{index +1}
										td #{val}

					include ../includes/private/alert-box

		script(src="/public/js/ui.js", type="text/javascript")