doctype

html(lang="fr")
	head
		include ../includes/private/dependencies
		title Ladder page
	body
		div#layout
			include ../includes/private/side-menu

			div#main
				div.header
					h1 Your statistics
					h2 Improve your win/lose ratio to climb the ladder

				div.content





				
					include ../includes/private/alert-box

		script(src="/public/js/ui.js", type="text/javascript")